@page
@model GemFund.Areas.Identity.Pages.Account.HomepageModel
@{
}
<center>

    <h2>
      Welcome to GemFunds  Users Home Page
    </h2>

    <hr />
    <br />
    <h3>
         Disaster
    </h3>
    <h3>
        <p>
            <a class="nav-link" href="/Identity/Account/Disaster">
                <button id="Donations" type="submit" class="w-100 btn btn-lg btn-primary">
                    Disaster
                </button>

            </a>
        </p>
    </h3>

    <br />

    <h3>
        Donations
    </h3>
    <h3>
        <a class="nav-link" text-color="White" href="/Identity/Account/Donations">
            <button id="GoodsDonations" type="submit" class="w-100 btn btn-lg btn-primary">
                Donations
            </button>
        </a>
    </h3>


    <br />

    <h3>
        Donate Goods & Clothing
    </h3>
    <h3>
        <a class="nav-link" text-color="White" href="/Identity/Account/Good Donations">
            <button id="GoodsDonations" type="submit" class="w-100 btn btn-lg btn-primary">
                Good Donations
            </button>
        </a>
    </h3>
    <br/>


    <hr />
    <br />

    <h2>Number of Active Disaster: </h2>
    <br />
  @*   <h3> 2  </h3> *@

    <br />
    <br />
    <br />
    <br />

    <a href="/Index" class="btn btn-success">Logout</a>


</center>