@page
@model GemFund.Areas.Identity.Pages.Account.TotalDonationsModel
@{
}
<center>
    <h2>
        Total Donation
    </h2>
</center>
<hr />
<br />

<h3>
    Total Monetary donation received:
</h3>
@* <h2>R 7 000 </h2> *@
<br />
<br />

<h3>
    Total number of goods received:
</h3>
@* <h2>50 </h2> *@

<br />
<br />


<h3>
    Currently Active Disasters:
</h3>


<br />
<br />
<table width="700" bgcolor="black">
    <tr bgcolor="black">
        <th>Active Disaster</th>
        <th>Allocated Money</th>
        <th>Allocated Goods</th>

    </tr>

   
  @*   <tr bgcolor="purple">
        <td>Storm</td>
        <td>R 1 400</td>
        <td>10</td>


    </tr>


    <tr bgcolor="purple">
        <td>Fire</td>
        <td>R 2 200</td>
        <td>20</td>

       

    </tr> *@
    
</table>
<br />
<br />
<br />
<br />

<center>
    <a href="/Index" class="btn btn-success">Back</a>
</center>
