@page
@model GemFund.Areas.Identity.Pages.Account.ViewPurchaseGoodsModel
@{
    <center>
        <center>
            <h2>Purchased Goods</h2>
        </center>

        <hr />
        <br />

        <div>
            <table width="700" bgcolor="black">
                <tr bgcolor="black">
                    <th>Goods</th>
                    <th>Amount</th>
                    <th>Active Disaster</th>


                </tr>

                <tr bgcolor="purple">
                    <td>Clothes</td>
                    <td>R 700</td>
                    <td>Storm</td>
                </tr>

       @*         <tr bgcolor="purple">
                    <td>Water</td>
                    <td>R 1200</td>
                    <td>Fire</td>
                </tr>
*@
            </table>

        </div>


        <br />
        <br />
        <br />
        <br />
        <br />


        <a href="/Identity/Account/Admin Hommepage" class="btn btn-success">Back to Home</a>

    </center>
}
