@page
@model GemFund.Areas.Identity.Pages.Account.ViewGoodsModel
@{
    <center>

        <center>
            <h2>Allocated Goods</h2>
        </center>

        <hr />
        <br />

        <div>
            <table width="700" bgcolor="black">
                <tr bgcolor="black">
                    <th>date/time</th>
                    <th>Number of Items</th>
                    <th>Active Disaster</th>
                    <th>Category</th>
                    <th>Donor</th>

                </tr>

                <tr bgcolor="purple">
                    <td>2023/10/05</td>
                    <td>10</td>
                    <td>Storm</td>
                    <td>Clothes</td>
                    <td>Anonymous</td>

                </tr>

             @*   <tr bgcolor="purple">
                    <td>2023/10/05</td>
                    <td>20</td>
                    <td>Fire</td>
                    <td>Water</td>
                    <td>Anonymous</td>

                </tr>
*@

            </table>

        </div>
        <br />
        <br />
        <br />
        <br />
        <br />


        <a href="/Identity/Account/Admin Hommepage" class="btn btn-success">Back to Home</a>
    </center>
}
