@page
@model GemFund.Areas.Identity.Pages.Account.ViewDonationsModel
<center>
    <h2>Allocated Donation</h2>

    <hr />
    <br />

    <div>

        <table width="700" bgcolor="black">
            <tr bgcolor="black">
                <th>date/time</th>
                <th>Amount</th>
                <th>Active Disaster</th>
                <th>Donor</th>

            </tr>


            <tr bgcolor="purple">
                <td>2023/10/05</td>
                <td>R 700</td>
                <td>Storm</td>
                <td>Anonymous</td>

            </tr>

@*
            <tr bgcolor="purple">
                <td>2023/10/05</td>
                <td>R 1000</td>
                <td>Fire</td>
                <td>Anonymous</td>
            </tr>
            *@
        </table>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />


    <a href="/Identity/Account/Admin Hommepage" class="btn btn-success">Back to Home</a>
</center>
}
