@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Giving is a kind deed. The simple act of experiencing a sense of good while giving is one of the main advantages of making charitable contributions.
        <br />Giving back to people in need allows you to grow personally and gives you a higher sense of fulfillment. It also makes you more inclined to serve others. </a></p>
</div>


<a href="/Identity/Account/Register">
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registeration</button>

</a>
<br/>
<br/>
<a href="/Identity/Account/Login">
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>

