@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Giving is a kind deed. The simple act of experiencing a sense of good while giving is one of the main advantages of making charitable contributions.
        <br />Giving back to people in need allows you to grow personally and gives you a higher sense of fulfillment. It also makes you more inclined to serve others. </a></p>
</div>


    <hr />
    <br />
    <center>
    <h3>Admin </h3>
    <br />

    <div class="action-buttons">
        <a href="/Identity/Account/Admin_Login" class="btn btn-primary">Login Here</a>

        <a href="/Identity/Account/Admin_Register" class="btn btn-success">Register Here</a>

    </div>

    <br />
    <hr />

    <h3>User</h3>

    <br />
    <div class="action-buttons">
        <a href="/Identity/Account/Login" class="btn btn-primary">Login</a>

        <a href="/Identity/Account/Register" class="btn btn-success">Register</a>

    </div>
    <br />
    <br />
    <hr />
    <br />
    <br />
    <h3>
        Total Donation
    </h3>

    <a class="nav-link" text-color="White" href="/Identity/Account/TotalDonations">
        <button id="ViewList" type="submit" class="w-100 btn btn-lg btn-primary">
            View
        </button>
    </a>

    </center>
